$color_background : #E5E5E5;
$color_text : #353535;
$color_image_background: desaturate($color_background, 25%);
$color_image_border: complement($color_text);

$default_padding : 20px;
$default_fontsize : .9em;
$big_fontsize: $default_fontsize*1.7;

.defaultText
{
    color:$color_text;
    font-size:$default_fontsize;
    font-family:Verdana;
}

.heading
{
    @extend .defaultText;
    font-weight:bolder;
    font-size:larger;
    
}

.subheading
{
    @extend .defaultText;
    font-size:larger; 
}

.caption
{
    @extend .defaultText;
    font-size:.7em;
}


body
{
    padding:$default_padding;
    background-color:$color_background;
}

@mixin bordered($radius:15px)
{
    border-color:$color_image_border;
    border-width:1px;
    border-style:solid;
}

.thumbnail
{
    background-color:$color_image_background;
    padding:1px;
	@include bordered();
    margin:0px;
    clear:right;
}

ul 
{
	list-style-type:none;
    display:inline;

    li .searchResults
    {
		display:inline;
		float:left;
    }
}

.lightboxButton 
{
	height:25px;
	width:25px;

	background-position:center;
	background-repeat:no-repeat;
	background-image:url('http://www.thinkstockphotos.com/images/light_bulb_off.png');

	&:hover
	{	
		background-image:url('http://www.thinkstockphotos.com/images/light_bulb_plus.png');
		cursor:pointer;
	}

	&.active
	{
		background-image:url('http://www.thinkstockphotos.com/images/light_bulb_plus.png');

		&:hover
		{
			background-image:url('http://www.thinkstockphotos.com/images/light_bulb_minus.png');
			cursor:pointer;
		}
	}
}