.defaultText, .heading, .subheading, .caption {
  color: #353535;
  font-size: 0.9em;
  font-family: Verdana; }

.heading {
  font-weight: bolder;
  font-size: larger; }

.subheading {
  font-size: larger; }

.caption {
  font-size: .7em; }

body {
  padding: 20px;
  background-color: #e5e5e5; }

.thumbnail {
  background-color: #e5e5e5;
  padding: 15px;
  border-color: #353535;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  clear: right; }

ul {
  list-style-type: none;
  display: inline; }
  ul li .searchResults {
    display: inline;
    float: left; }

.lightboxButton {
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://www.thinkstockphotos.com/images/light_bulb_off.png"); }
  .lightboxButton:hover {
    background-image: url("http://www.thinkstockphotos.com/images/light_bulb_plus.png");
    cursor: pointer; }
  .lightboxButton.active {
    background-image: url("http://www.thinkstockphotos.com/images/light_bulb_plus.png"); }
    .lightboxButton.active:hover {
      background-image: url("http://www.thinkstockphotos.com/images/light_bulb_minus.png");
      cursor: pointer; }
